altgraph==0.17.4
bottle==0.13.2
bottle-websocket==0.2.9
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
cx_Freeze==7.2.7
Eel==0.18.1
filelock==3.16.1
future==1.0.0
gevent==24.11.1
gevent-websocket==0.10.1
greenlet==3.1.1
idna==3.10
markdown-it-py==3.0.0
mdurl==0.1.2
packaging==24.2
patchelf==0.17.2.1
prompt-toolkit==1.0.14
Pygments==2.18.0
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.10
pyparsing==3.2.0
regex==2024.11.6
requests==2.32.3
rich==13.9.4
shellingham==1.5.4
six==1.16.0
tqdm==4.67.1
typing_extensions==4.12.2
urllib3==2.2.3
wcwidth==0.2.13
XlsxWriter==3.2.0
zope.event==5.0
zope.interface==7.2
